.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 80vh;
    overflow-y: auto;
}

::-webkit-scrollbar-track {
    background-color: #1f242d;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #1f242d;
}

::-webkit-scrollbar-thumb{
    background-color: #102652;
    border-radius: 6px;
}
